:root{
  --fff: #fff;
  --333: #333;
  --ad : #adadad;
}
.slider {
  position:relative;
  margin: 0 auto;
  margin: 60px auto;
  width: 130vh;
}
.slider-item01 {
    background:#bd5959;
}
.slider-item02 {
    background:#200e42;
}
.slider-item03 {
    background:#45852b;
}
.slider-item {
  border-radius: 80px ;
    width: 100%;
    height:70vh;
    background-position: center;
    background-size: cover;
}
/*矢印の設定*/
.slick-prev, 
.slick-next {
    position: absolute;
	z-index: 3;
    top: 200px;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #fff;/*矢印の色*/
    border-right: 2px solid #fff;/*矢印の色*/
    height: 25px;
    width: 25px;
}
.slick-prev {/*戻る矢印の位置と形状*/
    left:2.5%;
    transform: rotate(-135deg);
}
.slick-next {/*次へ矢印の位置と形状*/
    right:2.5%;
    transform: rotate(45deg);
}
.slider::after{
  content: '';
  display: block;
  width: 80%;
  height: 3px;
  background: var(--333);
  margin: 0 auto;
  margin-top: 60px;
}

.popular{
  width: 100%;
}
.title{
  margin: 120px 0 100px 0;
  color: var(--333);
  font-size: 32px;
  text-align: center;
}
.popular-list ul{
  display: flex;
  justify-content: space-around;
  height: 50vh;
}
.popular-list li{
  width: 30%;
  height: 100%;
  background: var(--fff);
  text-align: center;
}
.popular-list h2{
  background: transparent;
  margin-top: 200px;
}
.popular-list p{
  background: transparent;
  margin-top: 20px;
}
.popular-image{
  display: block;
  width: 80%;
  height: 400px;
  background: #7c3535;
  margin: 0 auto;
  margin-top: 120px;
}
.popular-list::after{
  content: '';
  display: block;
  width: 60%;
  height: 3px;
  background: var(--333);
  margin: 0 auto;
  margin-top: 60px;
}

.men{
  width: 100%;
}
.men-area{
  display: flex;
  justify-content: space-between;
}
.men-logo{
  margin: 0 auto;
  position: sticky;
  width: 40%;
  height: 75vh;
  background: #000;
}
.item-list {
  margin: 0 auto;
  width: 40%;
  height: 75vh;
  display: grid;
  grid-template-columns: repeat(2,50%);
  gap: 30px; 
}
.item-list li{
  background: var(--fff);
  text-align: center;
  border-radius: 30px;
}
.item-list h2{
  margin-top: 70%;
  background: transparent;
}
.item-list p{
  margin-top: 10px;
  margin-bottom: 10px;
  background: transparent;
}
.all-item{
  margin-top: 120px;
  text-align: center;
}
.men::after{
  content: '';
  display: block;
  width: 60%;
  height: 3px;
  background: var(--333);
  margin: 0 auto;
  margin-top: 60px;
}

.women{
  width: 100%;
}
.women-area{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.women-logo{
  margin: 0 auto;
  position: sticky;
  width: 40%;
  height: 75vh;
  background: #000;
}
.women::after{
  content: '';
  display: block;
  width: 60%;
  height: 3px;
  background: var(--333);
  margin: 0 auto;
  margin-top: 60px;
}

.unisex{
  width: 100%;
}
.unisex-area{
  display: flex;
  flex-direction: column;
}
.unisex-logo{
  margin: 0 auto;
  position: sticky;
  width: 70%;
  height: 50vh;
  background: #000;
  margin-bottom: 60px;
}
.unisex-item-list {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2,50%);
  gap: 30px; 
}

.unisex-item-list li{
  background: var(--fff);
  border-radius: 30px;
  text-align: center;
}
.unisex-item-list h2{
  margin-top: 40%;
  background: transparent;
}
.unisex-item-list p{
  margin-top: 10px;
  margin-bottom: 10px;
  background: transparent;
}
.unisex-all-item{
  margin-top: 120px;
  text-align: center;
}
.top h4{
  display: flex;
  justify-content: end;
  margin-right: 60px;
  margin-bottom: 60px;
}

