
.side-list{
  position: sticky;
  top: 70px;
    z-index: 990;/*ボタンを最前面に*/
    width: 120px;
    height:100vh;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .side-list-area{
      display: flex;
      flex-direction: column;
      margin-bottom: 70px;
    }
    .side-list h2{
    margin: 20px auto;
  }

.main{
  height: 300vh;
}